.button{
    position: fixed;
    right: 2%;
    top: 2%;
    background-color: #5253ad;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    outline: none;
    border-color: transparent;

    .burger{
        width: 100%;
        &::after, &::before{
            content: "";
            display: block;
            width: 40%;
            background-color: white;
            height: 1px;
            margin: auto;
            position: relative;
        }
        &::after{
            top: -5px;
        }
        &::before{
            top: 5px;
        }
    }
    .burgerActive{
        &::after{
            top: 1px;
            transform: rotate(45deg)
        }
        &::before{
            top: 1px;
            transform: rotate(-45deg)
        }
    }
}