.intro{
    height: 100vh;
    display: flex;
    font-size: 2vw;
    align-items: center;
    justify-content: center;
    h2{
        max-width: 45%;
        text-align: center;
        line-height: 1;
    }
}